<div class="about-container">
    <section class="about-section1">
        <div class="row founder-content">
            <div class="col-md-3 col-sm-12 founders">
                <div class="a-s-1-header">Founder:</div>
                <div><img class="a-s-1-img" src="../../../assets/images/neeraj_j.jpg" alt=""></div>
                <div class="a-s-1-footer">Neeraj Jewalkar</div>
            </div>
            <div class="col-md-6 col-sm-12 about-founder">
                <div class="a-s-1-content">Neeraj is the Founder and CEO at SUGARMATHS™.<br><br>
                        Neeraj successfully launched a Web Products company, Trendyworks, in 2005 that went on to have thousands of customers across the Globe in a short period of time with a multi-million dollar turnover. Trendyworks has been recognised by NASSCOM as one of the top emerging product companies from India. Neeraj Holds a degree in Aerospace engineering from IIT Kharagpur.<br><br>
                        SUGARMATHS™ is borne out of Neeraj's passion for education and a desire to create a technology platform that has a positive impact on the way teaching and learning happens today. SUGARMATHS™'s team consists of forward thinking Educationists, accomplished Academicians, talented software developers and extremely creative digital artists. Backed by this motivated team SUGARMATHS™ is set to revolutionize the school level education in India, at the student, teacher and school level.</div>
            </div>
            <div class="col-md-3 col-sm-12">
                <div><img class="a-s-1-img1" src="../../../assets/images/nasscom.jpg" alt=""></div>
            </div>
        </div>
    </section>
    <section class="about-section2">
        <div class="advisors-content">
            <div class="a-s-2-header">Advisors:</div>

            <div class="row">
                <div class="col-md-6 col-sm-12 pl-3 pr-0 row-eq-height">
                    <div class="adviser-block ab1">
                        <img class="adv-img" src="../../../assets/images/neeraj_j.jpg" alt="">
                        <div class="adv-nam">Vamsi Chandra</div>
                        <div class="adv-edu">IIT KGP, Computer Science</div>
                        <div class="adv-own">Founder enlightiks Inc.</div>
                        <div class="adv-abo">Over the last 14 years, Vamsi has created products in Healthcare Informatics and Analytics, the largest and most successful being the Magnum Suite (HIS, RIS, PACS, EMR). As a part of his corporate journey, he has been successful in M&A activities (3 acquisitions, and 2 Divestments). Been a P&L owner and CTO responsible for growth and achieving targets YoY.
                            <br><br>At ENLIGHTIKS he is working on a cutting edge product to apply Big Data Analytics in Healthcare, with a vision to "empower YOU with the power of prediction".
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 pr-3 pl-0 row-eq-height">
                    <div class="adviser-block ab2">
                        <img class="adv-img" src="../../../assets/images/neeraj_j.jpg" alt="">
                        <div class="adv-nam">Abhishek Kumar</div>
                        <div class="adv-edu">IIT KGP, IIM Bangalore</div>
                        <div class="adv-own">Founder & CEO HomeChromosome Ltd.</div>
                        <div class="adv-abo">Abhishek has diverse experience across technology and business with significant stints in Infosys, Covansys and Reliance. 
                            Before founding Home Chromose Abhishek was the head of Business Planning and Strategy at Hewlett-Packard leading a large team delivering PPS Sales Analytics.
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-12 pl-3 pr-0 row-eq-height">
                    <div class="adviser-block ab3">
                        <img class="adv-img" src="../../../assets/images/neeraj_j.jpg" alt="">
                        <div class="adv-nam">Sumit Dev</div>
                        <div class="adv-edu">IIT KGP, Electronics & Communication</div>
                        <div class="adv-own">Founder & CEO VooLabs Technologies. Voolabs.com</div>
                        <div class="adv-abo">Sumit has 17 years of IT experience predominantly in Embedded Software and Systems. Sumit has deep experience in Automotive Systems, and has developed products for Automotive Infotainment and Advanced Driver Assistance Systems. The solutions have been deployed in multiple generations of vehicles across Europe, Japan and America. Sumit is passionate about harnessing technology to make lives better, and founded Voolab Technologies to work on this passion. He is a graduate in Electronics and Electrical Communications from the Indian Institute of Technology, Kharagpur.
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 pr-3 pl-0 row-eq-height">
                    <div class="adviser-block ab4">
                        <img class="adv-img" src="../../../assets/images/neeraj_j.jpg" alt="">
                        <div class="adv-nam">Ravi Siddhartha</div>
                        <div class="adv-edu">B.Arch, IIT Roorkee</div>
                        <div class="adv-own">Founder & CEO Houzone.com</div>
                        <div class="adv-abo">Architect Ravi Siddhartha is an IIT-Roorkee Graduate with 16+ years of experience in Design and Construction Projects with both National and International Exposure. He is a part of team with expertise in Pharmaceutical Industrial Designs, Schools, Automobile Dealership Setups, Construction Management, Project Management, Interior Designs, Execution Engineering & much more. He is an Asst. Professor at Jawaharlal Nehru Architecture & Fine Arts University, Hyderabad and other Architectural Colleges. Ravi is an active member of Round Table India (Part of Round Table International), which works towards helping underprivileged children get proper education, working towards social causes as part of his Social Responsibility, trying to bring about small & effective changes in the world that we live in.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </section>
    <section class="about-section3">
        <div class="milestones-content">
            <div class="adv-nam a-s-3-b1-bg a-s-3-title">Milestones:</div>
            
            <div class="a-s-3-b a-s-3-b1-bg">
                <!-- <hr> -->
                <div class="row">
                    <div class="col-md-8 col-sm-12">
                        <div class="a-s-3-b-text">
                            Over the past one Year SUGARMATHS™ has conducted exciting contests in partnership with Times of India with a reach of Over 5 Lakh Students across India.
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 ">
                        <div class="a-s-3-b-circle a-s-3-b1-cir-col">
                            <div class="a-s-3-b-cir-head">5 lakh</div>
                            <div class="a-s-3-b-cir-subhead">Students</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="a-s-3-b a-s-3-b2-bg">
                <div class="row">
                    <div class="col-md-8 col-sm-12">
                        <div class="a-s-3-b-text">
                                SUGARMATHS™ has empowered 1.5 Lakh students with fun Computer course in 500+ Schools in association with NIE.
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 ">
                        <div class="a-s-3-b-circle a-s-3-b2-cir-col">
                            <div class="a-s-3-b-cir-head">1.5 lakh</div>
                            <div class="a-s-3-b-cir-subhead">Students</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="a-s-3-b a-s-3-b3-bg">
                <div class="row">
                    <div class="col-md-8 col-sm-12">
                        <div class="a-s-3-b-text">
                                SUGARMATHS™ students come from 12000+ schools from 25+ states.
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 ">
                        <div class="a-s-3-b-circle a-s-3-b3-cir-col">
                            <div class="a-s-3-b-cir-head">12000+</div>
                            <div class="a-s-3-b-cir-subhead">Schools</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="a-s-3-b a-s-3-b4-bg">
                <div class="row">
                    <div class="col-md-8 col-sm-12">
                        <div class="a-s-3-b-text">
                                SUGARMATHS™ has 1.4 Lakh loyal and loving Facebook Fans.
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 ">
                        <div class="a-s-3-b-circle a-s-3-b4-cir-col">
                            <div class="a-s-3-b-cir-head">1.4lakh</div>
                            <div class="a-s-3-b-cir-subhead">Facebook Fans</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="a-s-3-b a-s-3-b5-bg">
                <div class="row">
                    <div class="col-md-8 col-sm-12">
                        <div class="a-s-3-b-text">
                                SUGARMATHS™ has over 6000 Teachers engaged in SUGARMATHS™ eLearning program.
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 ">
                        <div class="a-s-3-b-circle a-s-3-b5-cir-col">
                            <div class="a-s-3-b-cir-head">6000</div>
                            <div class="a-s-3-b-cir-subhead">Teachers</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="a-s-3-b a-s-3-b6-bg">
                <div class="row a-s-3-b6-display">
                    <div class="col-md-8 col-sm-12">
                        <div class="a-s-3-b-text1">
                                SUGARMATHS™ has conducted diverse contests related to Computers, Blogging, Poster Making and rewarded hundreds of students across India with exciting and fun gifts.
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 a-s-3-lb-circles">
                        <div class="a-s-3-lb-cir1">
                            <div class="a-s-3-lb-cir-title">Poster</div>
                            <div class="a-s-3-lb-cir-subtitle">Design</div>
                        </div>
                        <div class="a-s-3-lb-cir2">
                            <div class="a-s-3-lb-cir-subtitle">Fun</div>
                            <div class="a-s-3-lb-cir-title">Summer</div>
                            <div class="a-s-3-lb-cir-subtitle">Contest</div>
                        </div>
                        <div class="a-s-3-lb-cir3">
                            <div class="a-s-3-lb-cir-subtitle">Weekly</div>
                            <div class="a-s-3-lb-cir-title">Computers</div>
                            <div class="a-s-3-lb-cir-subtitle">Quiz</div>
                        </div>
                        <div class="a-s-3-lb-cir4">
                            <div class="a-s-3-lb-cir-title">Blogging</div>
                            <div class="a-s-3-lb-cir-subtitle">Challenge</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="pament-options-box">
            <div class="a-s-3-po">
                Payment Options:
            </div>
            <div class="po-icons">
                <ul class="icons-ul">
                    <li class="icon-li"><img class="po-icon-img" src="../../../assets/images/visa.png" alt=""></li>
                    <li class="icon-li"><img class="po-icon-img" src="../../../assets/images/mastercard.png" alt=""></li>
                    <li class="icon-li"><img class="po-icon-img" src="../../../assets/images/american-express.png" alt=""></li>
                    <li class="more-po">
                        <div class="mpo-btn">
                            <i class="fa fa-angle-double-right" aria-hidden="true"></i> More Payment Options
                        </div>
                    </li>

                </ul>
            </div>
        </div>
        
    </section>
    <section class="about-section4">

    </section>
</div>
