<div class="grayline">

</div>
<ul class="footermenus">
    <li class="fmenu1">
        <div class="connectings c1">
            <div class="graydot"></div>
            <div class="vertline"></div>
            <div class="whitedot"></div>
            <div class="harline"></div>
        </div>
        <div class="fm1">
            <ul class="foo-ul foo-ul1">
                <li class="foo-li-item"><a href="#" class="foo-li-item-links1">SUGARMATHS Home</a></li>
                <li class="foo-li-item"><a href="#" class="foo-li-item-links1">About Us</a></li>
                <li class="foo-li-item"><a href="#" class="foo-li-item-links1">Scientific Basis</a></li>
                <li class="foo-li-item"><a href="#" class="foo-li-item-links1">Play Sugar Maths</a></li>
            </ul>
        </div>
    </li>
    <li class="fmenu2">
        <div class="connectings c2">
            <div class="graydot"></div>
            <div class="vertline1"></div>
            <div class="whitedot"></div>
            <div class="harline"></div>
        </div>
        <div class="fm2">
            <ul class="foo-ul foo-ul2">
                <li class="foo-li-item"><a href="#" class="foo-li-item-links2">Sugar Maths Members</a></li>
                <li class="foo-li-item"><a href="#" class="foo-li-item-links2">Sugar Maths Certificates</a></li>
                <li class="foo-li-item"><a href="#" class="foo-li-item-links2">Fantasy Gifts</a></li>
                <li class="foo-li-item"><a href="#" class="foo-li-item-links2">Sugar Maths Reactions</a></li>
                <li class="foo-li-item"><a href="#" class="foo-li-item-links2">Sugar Maths FAQs</a></li>
            </ul>
        </div>
    </li>
    <li class="fmenu3">
        <div class="connectings c3">
            <div class="graydot"></div>
            <div class="vertline"></div>
            <div class="whitedot"></div>
            <div class="harline"></div>
        </div>
        <div class="fm3">
            <ul class="foo-ul foo-ul3">
                <li class="foo-li-item"><a href="#" class="foo-li-item-links3">Media</a></li>
                <li class="foo-li-item"><a href="#" class="foo-li-item-links3">Experts</a></li>
                <li class="foo-li-item"><a href="#" class="foo-li-item-links3">Testimonials</a></li>
                <li class="foo-li-item"><a href="#" class="foo-li-item-links3">Contact Sugar Maths</a></li>
                <li class="foo-li-item"><a href="#" class="foo-li-item-links3">Facebook</a></li>
            </ul>
        </div>
    </li>
    <li class="fmenu4">
        <div class="connectings c4">
            <div class="graydot"></div>
            <div class="vertline1"></div>
            <div class="whitedot"></div>
            <div class="harline"></div>
        </div>
        <div class="fm4">
            <ul class="foo-ul foo-ul3">
                <li class="foo-li-item"><a href="#" class="foo-li-item-links4">Privacy Policy</a></li>
                <li class="foo-li-item"><a href="#" class="foo-li-item-links4">Agreement</a></li>
                <li class="foo-li-item"><a href="#" class="foo-li-item-links4">Sitemap</a></li>
            </ul>
        </div>
    </li>
</ul>

<div class="copy-right">Copyright © 2016-2018 SUGARMATHS™. All rights reserved.</div>