<div class="reactions-content">
    <div class="reactions-header">
        Students Speak
    </div>
    <div class="rea-div">
        <div class="row">
            <div class="col-md-4 col-sm-12 rea-col1">
                <div class="rea-box">
                    <div class="reaction">
                        sugar maths has helped me in olmpyiads
                    </div>
                    <hr class="hr-m0">
                    
                    <div class="rea-user-info">
                        <div class="rea-arr"></div>
                        <div class="rea-users">
                            <h4>Aadish</h4>
                            <p>Bachpan School</p>
                            <p class="addr">Hyderabad, Telangana</p>
                        </div>                        
                    </div>
                </div>

                <div class="rea-box">
                    <div class="reaction">
                            This game is very interesting and enjoyable. Children can also improve their IQ levels in maths.
                    </div>
                    <hr class="hr-m0">
                    
                    <div class="rea-user-info">
                        <div class="rea-arr"></div>
                        <div class="rea-users">
                            <h4>Hriday Bhatnagar</h4>
                            <p>BHARAT NATIONAL PUBLIC SCHOOL</p>
                            <p class="addr">NEW DELHI, DELHI</p>
                        </div>                        
                    </div>
                </div>

                <div class="rea-box">
                    <div class="reaction">
                            Sugar Maths has helped me get more knowledge in circles diameter, radius etc And it also helped me to get higher marks.
                    </div>
                    <hr class="hr-m0">
                    
                    <div class="rea-user-info">
                        <div class="rea-arr"></div>
                        <div class="rea-users">
                            <h4>Mehak Chauhan</h4>
                            <p>KBDAV SCHOOL</p>
                            <p class="addr">CHANDIGARH, CHANDIGARH</p>
                        </div>                        
                    </div>
                </div>

                <div class="rea-box">
                    <div class="reaction">
                            I really enjoyed taking the SugarMaths program and it is very helpful for the student who do not do well and even it gives motivation. Thanks for making the program online.
                    </div>
                    <hr class="hr-m0">
                    
                    <div class="rea-user-info">
                        <div class="rea-arr"></div>
                        <div class="rea-users">
                            <h4>Benita Blessy</h4>
                            <p>CLARENCE HIGH SCHOOL</p>
                            <p class="addr">BENGALURU, KARNATAKA</p>
                        </div>                        
                    </div>
                </div>
            </div>


            <div class="col-md-4 col-sm-12 rea-col2">
                <div class="rea-box">
                    <div class="reaction">
                        SugarMaths is a amazing game. It increases the speed of doing calculation. The speed will help me in my exams.
                    </div>
                    <hr class="hr-m0">
                    
                    <div class="rea-user-info">
                        <div class="rea-arr"></div>
                        <div class="rea-users">
                            <h4>KARI GOVARDHAN</h4>
                            <p>PEN SCHOOL</p>
                            <p class="addr">VISAKHAPATNAM, ANDHRA PRADESH</p>
                        </div>                        
                    </div>
                </div>

                <div class="rea-box">
                    <div class="reaction">
                            'Sugar Maths' benefits me in gaining a lot of knowledge in Maths. I owe my success in Maths to 'Sugar Maths'.
                    </div>
                    <hr class="hr-m0">
                    
                    <div class="rea-user-info">
                        <div class="rea-arr"></div>
                        <div class="rea-users">
                            <h4>Atanu Biswas</h4>
                            <p>CHAKDAHA RAMLAL ACADEMY</p>
                            <p class="addr">KOLKATA, WEST BENGAL</p>
                        </div>                        
                    </div>
                </div>

                <div class="rea-box">
                    <div class="reaction">
                            Really its marvelous. Sugar Maths helps me to recapitulate my Math in this vacation. Thank you Sugar math.
                    </div>
                    <hr class="hr-m0">
                    
                    <div class="rea-user-info">
                        <div class="rea-arr"></div>
                        <div class="rea-users">
                            <h4>Charutha Murari</h4>
                            <p>EXCEL CENTRAL SCHOOL</p>
                            <p class="addr">KANNIYAKUMARI, TAMIL NADU</p>
                        </div>                        
                    </div>
                </div>

                <div class="rea-box">
                    <div class="reaction">
                            SugarMaths increased my knowledge in additive and multiplicative inverse. The option to learn while playing is excellent. I am no longer scared of answering a question incorrectly, sugarmaths helps me.
                    </div>
                    <hr class="hr-m0">
                    
                    <div class="rea-user-info">
                        <div class="rea-arr"></div>
                        <div class="rea-users">
                            <h4>Pratyush Sharma</h4>
                            <p>KENDRIYA VIDYALAYA</p>
                            <p class="addr">BHUBANESWAR, ORISSA</p>
                        </div>                        
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-12 rea-col3">
                <div class="rea-box">
                    <div class="reaction">
                            SUGAR MATHS IS VERY INTERESTING AND USEFUL GAME TO INCREASE KNOWLEDGE AND SPEED IN MATHS.
                    </div>
                    <hr class="hr-m0">
                    
                    <div class="rea-user-info">
                        <div class="rea-arr"></div>
                        <div class="rea-users">
                            <h4>Lakshanya</h4>
                            <p>K B PATEL PRIMARY SCHOOL</p>
                            <p class="addr">NAVSARI, GUJARAT</p>
                        </div>                        
                    </div>
                </div>

                <div class="rea-box">
                    <div class="reaction">
                            Suagr Maths helped in Maths. Using sugar maths I can improve my thinking skills. Sugar Maths is actually very nice.
                    </div>
                    <hr class="hr-m0">
                    
                    <div class="rea-user-info">
                        <div class="rea-arr"></div>
                        <div class="rea-users">
                            <h4>Dnyanda</h4>
                            <p>PODAR INTERNATIONAL SCHOOL</p>
                            <p class="addr">JALGAON, MAHARASHTRA</p>
                        </div>                        
                    </div>
                </div>

                <div class="rea-box">
                    <div class="reaction">
                            I am very much happy with this game . It improved my speed in mathematics.....
                    </div>
                    <hr class="hr-m0">
                    
                    <div class="rea-user-info">
                        <div class="rea-arr"></div>
                        <div class="rea-users">
                            <h4>Chaithra Hari</h4>
                            <p>INDIAN PUBLIC SCHOOL</p>
                            <p class="addr">TRIVANDRAUM, KERALA</p>
                        </div>                        
                    </div>
                </div>

                <div class="rea-box">
                    <div class="reaction">
                            Sugar maths is one of the best maths based games I have played. Its very productive and helps me.
                    </div>
                    <hr class="hr-m0">
                    
                    <div class="rea-user-info">
                        <div class="rea-arr"></div>
                        <div class="rea-users">
                            <h4>Akshay</h4>
                            <p>ST. PETER'S CENTRAL PUBLIC SCHOOL</p>
                            <p class="addr">ANANTAPUR, ANDHRA PRADESH</p>
                        </div>                        
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>