<div class="home-content">
    <section class="home-section1" id="home-play">
        <img class="cover-img img-responsive" src="../../../assets/images/sugarmaths.jpg" alt="">
        <p class="home-img-on-text text-white">Sugar Maths is a National Level Maths Proficiency Program based on cutting edge automated learning methodology and covers Maths topics at great depth and unmatched detail.</p>
    </section>
    <section class="home-section2" id="home-performance">
        <div class="h-s-2-title1">
            Performance
        </div>
        <div class="h-s-2-title2">
            Analusis:
        </div>
        <div class="h-s-2-title3">
            Gain deep actionable insights through performance analytics for each skill:
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <div class="home-chart-box">
                    <img src="../../../assets/images/pi-chart.png" alt="pi chart">
                </div>
            </div>
            <div class="col-md-8 col-sm-12">
                <div class="home-chart-text-box">
                    <div class="home-chart-title">Conceptual clarity</div>
                    <div class="home-chart-text">Determine whether you have developed basic clarity of the fundamental concepts underlying a given topic.</div>
                </div>
            </div>
            
        </div>
        <div class="h-line"></div>
        <div class="row">
            <div class="col-md-8 col-sm-12">
                <div class="home-chart-text-box">
                    <div class="home-chart-title">Number ability</div>
                    <div class="home-chart-text">See if you are able to apply concepts to solve problems with increasing level of numerical complexity.</div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="home-chart-box">
                    <img src="../../../assets/images/graph-chart.png" alt="pi chart">
                </div>
            </div>
            
        </div>
        <div class="h-line"></div>
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <div class="home-chart-box">
                    <img src="../../../assets/images/pi-chart-1.png" alt="pi chart">
                </div>
            </div>
            <div class="col-md-8 col-sm-12">
                <div class="home-chart-text-box">
                    <div class="home-chart-title">Focus</div>
                    <div class="home-chart-text">Understand your ability to focus on a topic for a sustained period of time that is required to master it.</div>
                </div>
            </div>
            
        </div>
    </section>
    
    <section class="home-section3" id="home-member">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <div class="h-s-3-icon">
                    <i class="fa fa-users" aria-hidden="true"></i>
                </div>
                <div class="h-s-3-text">Now Playing</div>
                <div class="h-s-3-title">SUGARMATHS MEMBERS</div>
                <div class="h-s-3-text">Are you yet not in this list? Play now to Experience the Fun and Excitement of Sugar Maths</div>
                <div class="h-s-3-btn">
                    View All
                </div>

            </div>
            <div class="col-md-4 col-sm-12">
                <div class="h-s-3-user-group">
                    <div class="h-s-3-yellow-circle">
                        <div class="h-s-3-align-center">
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="h-s-3-user-content">
                        <div class="h-s-3-user-title">
                            Palakivenkatesh
                        </div>
                        <div class="h-s-3-school-title">
                            SRI SAIRAM HIGH SCHOOL
                        </div>
                        <div class="h-s-3-text">
                            Hyderabad, Telangana
                        </div>
                    </div>
                </div>

                <div class="h-s-3-user-group">
                    <div class="h-s-3-yellow-circle">
                        <div class="h-s-3-align-center">
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="h-s-3-user-content">
                        <div class="h-s-3-user-title">
                            Vishwas
                        </div>
                        <div class="h-s-3-school-title">
                            OXFORD SENIOR SECONDARY SCHOOL
                        </div>
                        <div class="h-s-3-text">
                            New Delhi, Delhi
                        </div>
                    </div>
                </div>

                <div class="h-s-3-user-group">
                    <div class="h-s-3-yellow-circle">
                        <div class="h-s-3-align-center">
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="h-s-3-user-content">
                        <div class="h-s-3-user-title">
                            Dhyana
                        </div>
                        <div class="h-s-3-school-title">
                            L. P. SAVANI ACADEMY
                        </div>
                        <div class="h-s-3-text">
                            Surat, Gujarat
                        </div>
                    </div>
                </div>

                <div class="h-s-3-user-group">
                    <div class="h-s-3-yellow-circle">
                        <div class="h-s-3-align-center">
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="h-s-3-user-content">
                        <div class="h-s-3-user-title">
                            Anjana V J
                        </div>
                        <div class="h-s-3-school-title">
                            KENDRIYA VIDYALAYA
                        </div>
                        <div class="h-s-3-text">
                            Trivandraum, Kerala
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-4 col-sm-12">
                <div class="h-s-3-user-group">
                    <div class="h-s-3-yellow-circle">
                        <div class="h-s-3-align-center">
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="h-s-3-user-content">
                        <div class="h-s-3-user-title">
                            M.Kushwanth Chandea
                        </div>
                        <div class="h-s-3-school-title">
                            V.S. ST.JOHN'S HIGHER SECONDARY SCHOOL
                        </div>
                        <div class="h-s-3-text">
                            Vijayawada, Andhra Pradesh
                        </div>
                    </div>
                </div>

                <div class="h-s-3-user-group">
                    <div class="h-s-3-yellow-circle">
                        <div class="h-s-3-align-center">
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="h-s-3-user-content">
                        <div class="h-s-3-user-title">
                            Rowan Sharma
                        </div>
                        <div class="h-s-3-school-title">
                            ST.JOSEPH'S CENTRAL SCHOOL
                        </div>
                        <div class="h-s-3-text">
                            Mysore, Karnataka
                        </div>
                    </div>
                </div>

                <div class="h-s-3-user-group">
                    <div class="h-s-3-yellow-circle">
                        <div class="h-s-3-align-center">
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="h-s-3-user-content">
                        <div class="h-s-3-user-title">
                            Smruti
                        </div>
                        <div class="h-s-3-school-title">
                            SAHAYADRI VIDYA MANDIR
                        </div>
                        <div class="h-s-3-text">
                            Mumbai, Maharashtra
                        </div>
                    </div>
                </div>

                <div class="h-s-3-user-group">
                    <div class="h-s-3-yellow-circle">
                        <div class="h-s-3-align-center">
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="h-s-3-user-content">
                        <div class="h-s-3-user-title">
                            Shrija Khattri
                        </div>
                        <div class="h-s-3-school-title">
                            RAJA RAM MOHAN ROY ACADEMY
                        </div>
                        <div class="h-s-3-text">
                            Dehradun, Uttaranchal
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>

    <section class="home-section4" id="home-certificates">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <div class="h-s-4-icon">
                    <i class="fa fa-certificate" aria-hidden="true"></i>
                </div>
                <div class="h-s-4-text">Certificate of Achievement</div>
                <div class="h-s-4-title">SUGARMATHS Certificates</div>
                <div class="h-s-4-text">Certificates achieved by Sugar Maths Members!</div>
                <div class="h-s-4-btn">
                    View All
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="h-s-4-cert">
                    <div class="h-s-4-cert-img">
                        <img src="../../../assets/images/cert01.jpg" alt="" class="h-s-4-img">
                    </div>
                    <div class="h-s-4-title1">ST. FRANCIS GIRLS HIGH SCHOOL</div>
                    <div class="h-s-4-text">Hyderabad, Telangana</div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="h-s-4-cert">
                    <div class="h-s-4-cert-img">
                        <img src="../../../assets/images/cert01.jpg" alt="" class="h-s-4-img">
                    </div>
                    <div class="h-s-4-title1">K. V. NO. 2 JODHPUR</div>
                    <div class="h-s-4-text">Jodhpur, Rajasthan</div>
                </div>
            </div>
        </div>
    </section> 

    <section class="home-section5" id="home-gifts">
            <img class="h-s-bgimg img-responsive" src="../../../assets/images/gifts_bg.jpg" alt="Gifts Bg">
            <!-- <div class="h-s-bgimg"></div> -->
        <div class="row h-s-5-block">
            <div class="col-md-4 col-sm-12">
                <div class="h-s-3-icon">
                    <i class="fa fa-gift" aria-hidden="true"></i>
                </div>
                <div class="h-s-3-text">Fantasy Gifts</div>
                <div class="h-s-3-title">SUGARMATHS MEMBERS</div>
                <div class="h-s-3-text">Are you yet not in this list? Play now to Experience the Fun and Excitement of Sugar Maths</div>
                <div class="h-s-3-btn">
                    View All
                </div>
            </div>
            <div class="col-md-8 col-sm-12">
                <div class="row">
                    <div class="col-md-6 col-sm-12 pads-0 m-0">
                        <div class="h-s-5-box box-red p-2">
                            <div class="row p-3">
                                <div class="col-6">
                                    <img class="h-s-5-s-img" src="../../../assets/images/smartphone.png" alt="Smart Phone">
                                </div>
                                <div class="col-6">
                                    <div class="h-s-5-box-content1">
                                        <div class="h-s-5-bc-title">Smartphone</div>
                                        <hr class="hr-c-gray">
                                        <div class="h-s-5-text">Price:</div>
                                        <div class="h-s-5-b-c1-price">80000</div>
                                        <div class="h-s-5-text">Gold Bars</div>
                                    </div>        
                                </div>
                            </div>
                            <div class="h-s-5-box-content2 p-2">
                                <div class="h-s-5-bc-title">For : My Mother</div>
                                <div class="h-s-5-b-c-title">RAGUL</div>
                                <div class="h-s-5-bc-title">Wisdom Vidyashram Matric School</div>
                                <div class="h-s-5-text">Kancheepuram, Tamil Nadu</div>
                            </div>
                        </div>
                        <div class="h-s-5-box box-green  p-2">
                            <div class="row p-3">
                               <div class="col-6">
                                    <img class="h-s-5-s-img" src="../../../assets/images/aeroplane.png" alt="Smart Phone">
                                </div>
                                <div class="col-6">
                                    <div class="h-s-5-box-content1">
                                        <div class="h-s-5-bc-title">Aeroplane</div>
                                        <hr class="hr-c-gray">
                                        <div class="h-s-5-text">Price:</div>
                                        <div class="h-s-5-b-c1-price">2000000</div>
                                        <div class="h-s-5-text">Gold Bars</div>
                                    </div>        
                                </div>
                            </div>
                            <div class="h-s-5-box-content2 p-2">
                                <div class="h-s-5-bc-title">For : My Father</div>
                                <div class="h-s-5-b-c-title">TENISHKA GATTU</div>
                                <div class="h-s-5-bc-title">Hyderabad Public Scool</div>
                                <div class="h-s-5-text">Hyderabad, Telangana</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 pads-0 m-0">
                        <div class="h-s-5-box box-blue p-2">
                            <div class="row p-3">
                                <div class="col-6">
                                    <img class="h-s-5-s-img" src="../../../assets/images/sports_car.png" alt="Smart Phone">
                                </div>
                                <div class="col-6">
                                    <div class="h-s-5-box-content1">
                                        <div class="h-s-5-bc-title">Sports Car</div>
                                        <hr class="hr-c-gray">
                                        <div class="h-s-5-text">Price:</div>
                                        <div class="h-s-5-b-c1-price">400000</div>
                                        <div class="h-s-5-text">Gold Bars</div>
                                    </div>        
                                </div>
                            </div>
                            <div class="h-s-5-box-content2 p-2">
                                <div class="h-s-5-bc-title">For : My Teacher</div>
                                <div class="h-s-5-b-c-title">SYED RAYAN</div>
                                <div class="h-s-5-bc-title">AmruthaVarshini Vidyalaya</div>
                                <div class="h-s-5-text">Haveri, Karnataka</div>
                            </div>
                        </div>
                        <div class="h-s-5-box box-pink p-2">
                            <div class="row p-3">
                                <div class="col-6">
                                    <img class="h-s-5-s-img" src="../../../assets/images/cycle.png" alt="Smart Phone">
                                </div>
                                <div class="col-6">
                                    <div class="h-s-5-box-content1">
                                        <div class="h-s-5-bc-title">Cycle</div>
                                        <hr class="hr-c-gray">
                                        <div class="h-s-5-text">Price:</div>
                                        <div class="h-s-5-b-c1-price">50000</div>
                                        <div class="h-s-5-text">Gold Bars</div>
                                    </div>        
                                </div>
                            </div>
                            <div class="h-s-5-box-content2 p-2">
                                <div class="h-s-5-bc-title">For : My Sister</div>
                                <div class="h-s-5-b-c-title">POOJA REDDY</div>
                                <div class="h-s-5-bc-title">Shree Sanatan Dharma High School</div>
                                <div class="h-s-5-text">Mumbai, Maharashtra</div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            
        </div>
    </section>

    <section class="home-section6" id="home-reactions">
        <img class="h-s-bgimg img-responsive" src="../../../assets/images/reactions_bg.jpg" alt="Gifts Bg">
            <!-- <div class="h-s-bgimg"></div> -->
        <div class="row h-s-6-block">
            <div class="col-md-4 col-sm-12">
                <div class="h-s-3-icon">
                    <i class="fa fa-gift" aria-hidden="true"></i>
                </div>
                <div class="h-s-3-text">Feedback</div>
                <div class="h-s-3-title">SUGARMATHS REACTIONS</div>
                <div class="h-s-3-text">Reactions of Members playing Sugar Maths!</div>
                <div class="h-s-4-btn">
                    View All
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                    <div class="h-s-6-box h-s-6-box-red p-2">
                        <div class="h-s-6-box-content">
                            <div class="h-s-5-bc-title">Pretty cool...I just love<br>  it...I actually hate<br> Math...but you made<br>me love it actually</div>
                            <hr class="hr-c-gray1">
                            <div class="h-s-5-bc-title">Pooja</div>
                            <div class="h-s-3-school-title">LALCHAND MILAPCHAND<br>DADHA SENIOR SECONDARY<br>SCHOOL</div>
                            <div class="h-s-5-text">Chennai, Tamil Nadu</div>
                        </div>
                    </div>
                    <div class="h-s-6-box h-s-6-box-green  p-2">
                        <div class="h-s-6-box-content">
                            <div class="h-s-5-bc-title">Really inculcates a<br>feeling of true<br>competition!</div>
                            <hr class="hr-c-gray1">
                            <div class="h-s-5-bc-title">Priyal Sharma</div>
                            <div class="h-s-3-school-title">LITTLE FLOWER CONVENT<br>SCHOOL</div>
                            <div class="h-s-5-text">Panchkula, Haryana</div>
                        </div>
                    </div>
                
            </div>
            <div class="col-md-4 col-sm-12">
                    <div class="h-s-6-box h-s-6-box-blue p-2">
                        <div class="h-s-6-box-content">
                            <div class="h-s-5-bc-title">Extrordinary for all the<br>Children</div>
                            <hr class="hr-c-gray1">
                            <div class="h-s-5-bc-title">M.Sirivennela</div>
                            <div class="h-s-3-school-title">LKRISHNAVENI TALENT<br>SCHOOL</div>
                            <div class="h-s-5-text">Hyderabad, Telangana</div>
                        </div>
                    </div>
                    <div class="h-s-6-box h-s-6-box-pink p-2">
                        <div class="h-s-6-box-content">
                            <div class="h-s-5-bc-title">it's an intelligence<br>based game which<br>sharpens each and<br>everyone's mind in<br>Maths.</div>
                            <hr class="hr-c-gray1">
                            <div class="h-s-5-bc-title">Prince Prasad</div>
                            <div class="h-s-3-school-title">AGRASAIN BOYS SCHOOL</div>
                            <div class="h-s-5-text">Kolkata, West Bengal</div>
                        </div>
                    </div>
                
            </div>
            
        </div>
    </section>
</div>