<div class="basis-container">
    <div class="sbasis-content">
        <div class="sbasis-container">
            <div class="sbasis-header">Scientific Basis for SUGARMATHS™:</div>
            <div class="sbasis-subheader">The "SUGARMATHS™" Mental Maths Program is based on the latest research in Neuroscience of learning and Psychology of motivation.</div>
            <div class="sbasis-text">At SUGARMATHS™ we have developed a proprietary methodology called Variable Keystone Active Space Technique (vKast) to improve learning. vKast is the synthesis of the latest developments in how various regions of the brain function to help learning and memorization. This technique not only leverages the concepts of Crystallized and Fluid Intelligence but also incorporates deep insights based on the psychology of motivation.
                        <br><br>
                        Multi sensory learning techniques have been incorporated for strong and lasting memory engrams. This ensures that the learning is retained for years without loss.
                        <br><br>
                        Mnemonic techniques for instant memorization have been used as part of Maths Tricks. This aids quick internalization and recall of important mathematical concepts that provide a strong foundation for advanced Maths skills.
                        <br><br>
                        All these exceptional features have been woven together in an extremely fun, engaging and addictive game format that has students addicted to this enriching App.</div>
            <div class="sbasis-text col-yellow">Like Thousands of Students we hope you benefit from this revolutionary Program.</div>
            <div class="ytvid">
                <iframe width="853" height="480" src="https://www.youtube.com/embed/oL0p_q-U-ro?rel=0&amp;autoplay=0" frameborder="0" allowfullscreen=""></iframe>
                        
            </div>
        </div>
    </div>

    <div class="pament-options-box">
        <div class="a-s-3-po">
                Payment Options:
        </div>
        <div class="po-icons">
            <ul class="icons-ul">
                <li class="icon-li"><img class="po-icon-img" src="../../../assets/images/visa.png" alt=""></li>
                <li class="icon-li"><img class="po-icon-img" src="../../../assets/images/mastercard.png" alt=""></li>
                <li class="icon-li"><img class="po-icon-img" src="../../../assets/images/american-express.png" alt=""></li>
                <li class="more-po">
                    <div class="mpo-btn">
                        <i class="fa fa-angle-double-right" aria-hidden="true"></i> More Payment Options
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

