.contact-content {
    width: 100%;
    padding: 0;
    margin: 0;
}
.c-form {
    width: 100%;
    border: 1px solid #b8dce6;
    padding: 10px;
}
.c-f-title {
    text-transform: uppercase;
    color: #4aa6c0;
    font-size: 22px;
    font-weight: 400;
}
.pencil-icon {
    background: url(../../../assets/images/home_icn_sprites.png) 0 0 no-repeat;
    display: block;
    float: left;
}
.pencil-icon {
    width: 34px;
    height: 32px;
    background-position: -169px -29px;
    margin-right: 10px;
}

.c-f-note {
    padding: 0;
    margin-bottom: 30px;
    font-size: 14px;
}

.c-addr p {
    font-size: 14px;
}
