<div class="members-content">

    <div class="members-header">Students Who Use SUGARMATHSTM :</div>
    <br>
    <div class="members-div">

        <div class="row pb-4">
            <div class="col-md-4 col-sm-12 row-eq-height col-pad">
                <div class="r-o-c r-o-c1">
                    <img class="member-img" src="https://www.sugarmaths.in/sugarStyles/images/sugarmaths-members/yukta.jpg" alt="Yukta">
                    <div class="r-o-m-name">Yukta</div>
                    <div class="r-o-m-grade">Maths Grade: A+</div>
                    <div class="r-o-m-marks">Marks: 99</div>
                    <div class="r-o-m-school">
                        <p>Mahila Samiti English High School <br> Mumbai, Maharashtra</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 row-eq-height col-pad">
                <div class="r-o-c r-o-c2">
                    <img class="member-img" src="https://www.sugarmaths.in/sugarStyles/images/sugarmaths-members/kartik.jpg" alt="Kartik">
                    <div class="r-o-m-name">Kartik</div>
                    <div class="r-o-m-grade">Maths Grade: A+</div>
                    <div class="r-o-m-marks">Gold Medal in Maths Olympiad</div>
                    <div class="r-o-m-school">
                        <p>Apeejay School<br>Noida, Uttar Pradesh</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 row-eq-height col-pad">
                <div class="r-o-c r-o-c3">
                    <img class="member-img" src="https://www.sugarmaths.in/sugarStyles/images/sugarmaths-members/anjana.jpg" alt="Anjana">
                    <div class="r-o-m-name">Anjana</div>
                    <div class="r-o-m-grade">Maths Grade: A+</div>
                    <div class="r-o-m-marks">Marks: 98</div>
                    <div class="r-o-m-school">
                        <p>Presidency School<br>Maharashtra</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row pb-4">
            <div class="col-md-4 col-sm-12 row-eq-height col-pad">
                <div class="r-e-c r-e-c1">
                    <img class="member-img" src="https://www.sugarmaths.in/sugarStyles/images/sugarmaths-members/ayaan.jpg" alt="Anjana">
                    <div class="r-e-m-name">Anjana</div>
                    <div class="r-e-m-grade">Maths Grade: A+</div>
                    <div class="r-e-m-marks">Marks: 98</div>
                    <div class="r-e-m-school">
                        <p>Presidency School<br>Maharashtra</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 row-eq-height col-pad">
                <div class="r-e-c r-e-c2">
                    <img class="member-img" src="https://www.sugarmaths.in/sugarStyles/images/sugarmaths-members/jeevan_m.jpg" alt="Jeevan.M">
                    <div class="r-e-m-name">Jeevan.M</div>
                    <div class="r-e-m-grade">Maths Grade: A+</div>
                    <div class="r-e-m-marks">Gold Medal in Maths Olympiad</div>
                    <div class="r-e-m-school">
                        <p>z.p.h.s. beeramguda<br>Kurnool, Andhra Pradesh</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 row-eq-height col-pad">
                <div class="r-e-c r-e-c3">
                    <img class="member-img" src="https://www.sugarmaths.in/sugarStyles/images/sugarmaths-members/anurag_agrawal.jpg" alt="Anurag Agarwal">
                    <div class="r-e-m-name">Anurag Agarwal</div>
                    <div class="r-e-m-grade">Maths Grade: A+</div>
                    <div class="r-e-m-marks">Marks: 100</div>
                    <div class="r-e-m-school">
                        <p>Christ Jyoti School<br>Nagpur, Maharashtra</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row pb-4">
            <div class="col-md-4 col-sm-12 row-eq-height col-pad">
                <div class="r-o-c r-o-c1">
                    <img class="member-img" src="https://www.sugarmaths.in/sugarStyles/images/sugarmaths-members/yukta.jpg" alt="Yukta">
                    <div class="r-o-m-name">Yukta</div>
                    <div class="r-o-m-grade">Maths Grade: A+</div>
                    <div class="r-o-m-marks">Marks: 99</div>
                    <div class="r-o-m-school">
                        <p>Mahila Samiti English High School <br> Mumbai, Maharashtra</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 row-eq-height col-pad">
                <div class="r-o-c r-o-c2">
                    <img class="member-img" src="https://www.sugarmaths.in/sugarStyles/images/sugarmaths-members/kartik.jpg" alt="Kartik">
                    <div class="r-o-m-name">Kartik</div>
                    <div class="r-o-m-grade">Maths Grade: A+</div>
                    <div class="r-o-m-marks">Gold Medal in Maths Olympiad</div>
                    <div class="r-o-m-school">
                        <p>Apeejay School<br>Noida, Uttar Pradesh</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 row-eq-height col-pad">
                <div class="r-o-c r-o-c3">
                    <img class="member-img" src="https://www.sugarmaths.in/sugarStyles/images/sugarmaths-members/anjana.jpg" alt="Anjana">
                    <div class="r-o-m-name">Anjana</div>
                    <div class="r-o-m-grade">Maths Grade: A+</div>
                    <div class="r-o-m-marks">Marks: 98</div>
                    <div class="r-o-m-school">
                        <p>Presidency School<br>Maharashtra</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row pb-4">
            <div class="col-md-4 col-sm-12 row-eq-height col-pad">
                <div class="r-e-c r-e-c1">
                    <img class="member-img" src="https://www.sugarmaths.in/sugarStyles/images/sugarmaths-members/ayaan.jpg" alt="Anjana">
                    <div class="r-e-m-name">Anjana</div>
                    <div class="r-e-m-grade">Maths Grade: A+</div>
                    <div class="r-e-m-marks">Marks: 98</div>
                    <div class="r-e-m-school">
                        <p>Presidency School<br>Maharashtra</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 row-eq-height col-pad">
                <div class="r-e-c r-e-c2">
                    <img class="member-img" src="https://www.sugarmaths.in/sugarStyles/images/sugarmaths-members/jeevan_m.jpg" alt="Jeevan.M">
                    <div class="r-e-m-name">Jeevan.M</div>
                    <div class="r-e-m-grade">Maths Grade: A+</div>
                    <div class="r-e-m-marks">Gold Medal in Maths Olympiad</div>
                    <div class="r-e-m-school">
                        <p>z.p.h.s. beeramguda<br>Kurnool, Andhra Pradesh</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 row-eq-height col-pad">
                <div class="r-e-c r-e-c3">
                    <img class="member-img" src="https://www.sugarmaths.in/sugarStyles/images/sugarmaths-members/anurag_agrawal.jpg" alt="Anurag Agarwal">
                    <div class="r-e-m-name">Anurag Agarwal</div>
                    <div class="r-e-m-grade">Maths Grade: A+</div>
                    <div class="r-e-m-marks">Marks: 100</div>
                    <div class="r-e-m-school">
                        <p>Christ Jyoti School<br>Nagpur, Maharashtra</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>