<div class="media-content">
    <div class="media-header">Media :</div>
    <img class="media-header-img" src="../../../assets/images/mediavis_img.jpg" alt="Media">
    <hr>
    <div class="row">
        <div class="col-md-3 col-sm12">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="year1">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                                <i class="more-less fa fa-plus"></i>
                                2016
                            </a>
                        </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="year1">
                        <div class="panel-body">
                            November
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="year2">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="true" aria-controls="collapse2">
                                <i class="more-less fa fa-plus"></i>
                                2015
                            </a>
                        </h4>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="year2">
                        <div class="panel-body">
                            <ul>
                                <li>May</li>
                                <li>March</li>
                                <li>February</li>
                                <li>January</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="year3">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="true" aria-controls="collapse3">
                                <i class="more-less fa fa-plus"></i>
                                2014
                            </a>
                        </h4>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="year3">
                        <div class="panel-body">
                            <ul>
                                <li>December</li>
                                <li>November</li>
                                <li>October</li>
                                <li>September</li>
                                <li>August</li>
                                <li>July</li>
                                <li>June</li>
                                <li>May</li>
                                <li>April</li>
                                <li>March</li>
                                <li>February</li>
                                <li>January</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="year4">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="true" aria-controls="collapse4">
                                <i class="more-less fa fa-plus"></i>
                                2013
                            </a>
                        </h4>
                    </div>
                    <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="year4">
                        <div class="panel-body">
                            December
                        </div>
                    </div>
                </div>
            </div>
            
        </div>

        <div class="col-md-9 col-sm12">
            <div class="row media-news-boxes">
                <div class="col-md-4">
                    <div class="news-box">
                        <a href="https://www.sugarmaths.in/sugar-maths-media_news_september2014.html#toionline_sep2014" title="The times of india">
                            <img src="../../../assets/images/thetimes_of_india_logo.jpg" alt="The times of india">
                        </a>
                    </div>
                    <div class="news-box">
                        <a href="https://www.sugarmaths.in/sugar-maths-media_news_september2014.html#ndtv_sep2014" title="The times of india">
                            <img src="../../../assets/images/ndtv_logo_big.jpg" alt="The times of india">
                        </a>
                    </div>
                    <div class="news-box">
                        <a href="https://www.sugarmaths.in/sugar-maths-media_news_september2014.html#indExp_sep2014" title="The times of india">
                            <img src="../../../assets/images/indianexpress_logo.jpg" alt="The times of india">
                        </a>
                    </div>
                    <div class="news-box">
                        <a href="https://www.sugarmaths.in/news_abc_of_elections_2014_online.html#outlook-smatur" title="The times of india">
                            <img src="../../../assets/images/outlook240_logo.jpg" alt="The times of india">
                        </a>
                    </div>
                    <div class="news-box">
                        <a href="https://www.sugarmaths.in/sugar-maths-media_news_april2014.html#eenadu-smartur" title="The times of india">
                            <img src="../../../assets/images/eenadu240_logo.jpg" alt="The times of india">
                        </a>
                    </div>
                    

                </div>
                <div class="col-md-4">
                    <div class="news-box">
                        <a href="https://www.sugarmaths.in/sugar-maths-media_news_september2014.html#hindustanTimes_sep2014" title="hindustantimes-smartur">
                            <img src="../../../assets/images/hindustan_times_logo.jpg" alt="The times of india">
                        </a>
                    </div>
                    <div class="news-box">
                        <a href="https://www.sugarmaths.in/sugar-maths-media_news_september2014.html#dc_sep2014" title="hindustantimes-smartur">
                            <img src="../../../assets/images/deccan_chronicle_logo.jpg" alt="The times of india">
                        </a>
                    </div>
                    <div class="news-box">
                        <a href="https://www.sugarmaths.in/news_abc_of_elections_2014_online.html#rediff-smartur" title="hindustantimes-smartur">
                            <img src="../../../assets/images/rediff_logo.jpg" alt="The times of india">
                        </a>
                    </div>
                    <div class="news-box">
                        <a href="https://www.sugarmaths.in/sugar-maths-media_news_september2014.html#sakal_sep2014" title="hindustantimes-smartur">
                            <img src="../../../assets/images/sakaal_logo_big.jpg" alt="The times of india">
                        </a>
                    </div>
                    <div class="news-box">
                        <a href="https://www.sugarmaths.in/news_abc_of_elections_2014_online.html#ians-smartur" title="hindustantimes-smartur">
                            <img src="../../../assets/images/ians_logo.jpg" alt="The times of india">
                        </a>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="news-box">
                        <a href="https://www.sugarmaths.in/sugar-maths-media_news_september2014.html#thehindu_sep2014" title="The Hindu">
                            <img src="../../../assets/images/the_hindu_logo_big.jpg" alt="the hindu">
                        </a>
                    </div>
                    <div class="news-box">
                        <a href="https://www.sugarmaths.in/sugar-maths-media_news_august2014.html#bstandard_aug2014" title="The Hindu">
                            <img src="../../../assets/images/businessstandard_logo.jpg" alt="the hindu">
                        </a>
                    </div>
                    <div class="news-box">
                        <a href="https://www.sugarmaths.in/sugar-maths-media_news_august2014.html#ecoTimes_aug2014" title="The Hindu">
                            <img src="../../../assets/images/the_economic_times_logo.jpg" alt="the hindu">
                        </a>
                    </div>
                    
                    <div class="news-box">
                        <a href="https://www.sugarmaths.in/sugar-maths-media_news_september2014.html#malayalamnrm_sep2014" title="The Hindu">
                            <img src="../../../assets/images/malayalamanorama_logo_big.jpg" alt="the hindu">
                        </a>
                    </div>
                    <div class="news-box">
                        <a href="https://www.sugarmaths.in/sugar-maths-media_news_september2014.html#sakshi_sep2014" title="The Hindu">
                            <img src="../../../assets/images/sakshi_logobig.jpg" alt="the hindu">
                        </a>
                    </div>
                </div>

            </div>

            <h5 class="vc-head">Video Coverage:</h5>
            <div class="row media-video-boxes">
                
                <br>
                <div class="col-md-4">
                    <div class="vidc-box">
                        <a href="http://www.youtube.com/watch?v=mF4MzZtmh-k" title="The Hindu">
                            <img src="../../../assets/images/ibnlive_logo.jpg" alt="the hindu">
                        </a>
                    </div>
                    <div class="vidc-box">
                        <a href="http://mathrubhuminews.in/ee/ReadMore/10045/selfie-with-smartur-mangalyaan/E" title="The Hindu">
                            <img src="../../../assets/images/mathrubhumi_Logo_big.jpg" alt="the hindu">
                        </a>
                    </div>
                    <div class="vidc-box">
                        <a href="http://youtu.be/sZex6o55g0A" title="The Hindu">
                            <img src="../../../assets/images/etv2_logo.jpg" alt="the hindu">
                        </a>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="vidc-box">
                        <a href="https://www.youtube.com/watch?v=WG0i0p5J-Ks" title="The Hindu">
                            <img src="../../../assets/images/z_news_logo.jpg" alt="the hindu">
                        </a>
                    </div>
                    <div class="vidc-box">
                        <a href="http://youtu.be/ZRvouAY80TU" title="The Hindu">
                            <img src="../../../assets/images/gemininews_logo.jpg" alt="the hindu">
                        </a>
                    </div>

                    <div class="vidc-box">
                        <a href="https://www.sugarmaths.in/news_abc_of_elections_2014_online.html#hybiztv-smartur" title="The Hindu">
                            <img src="../../../assets/images/hybiztv_logo.jpg" alt="the hindu">
                        </a>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="vidc-box">
                        <a href="https://www.youtube.com/watch?v=1_9VSk_yF7Y&feature=youtu.be" title="The Hindu">
                            <img src="../../../assets/images/ibn7_logo_big.jpg" alt="the hindu">
                        </a>
                    </div>
                    <div class="vidc-box">
                        <a href="http://youtu.be/guPdv8BlM78" title="The Hindu">
                            <img src="../../../assets/images/hmtv_logo.jpg" alt="the hindu">
                        </a>
                    </div>
                    <div class="vidc-box">
                        <a href="http://www.youtube.com/watch?v=sPdV7DsY6Tc&feature=youtu.be" title="The Hindu">
                            <img src="../../../assets/images/sahara_samay_logo.jpg" alt="the hindu">
                        </a>
                    </div>
                </div>

            </div>


            <div class="media-sprite-head">
                Newspaper:
            </div>
            
            <div class="container">
                <div class="news-wrap">
                    <a href="#" class="n-logo">
                        <img src="../../../assets/images/namaste_telangana_mlogo.jpg" alt="">
                    </a>
                    <span>05 Nov 2016</span>
                    <a href="#" class="n-arti">
                        <b>Namaste Telangana</b>
                        ", Hyderabad : "
                        <strong>‘SUGARMATHS™’ is Best Tech Startup.</strong>
                    </a>
                    <hr>
                </div>

                <div class="news-wrap">
                    <a href="#" class="n-logo">
                        <img src="../../../assets/images/andhraBhoomi_logo.jpg" alt="">
                    </a>
                    <span>05 Nov 2016</span>
                    <a href="#" class="n-arti">
                        <b>Andhra Bhoomi</b>
                        ", Hyderabad : "
                        <strong>‘SUGARMATHS™’ is Best Tech Startup.</strong>
                    </a>
                    <hr>
                </div>

                <div class="news-wrap">
                    <a href="#" class="n-logo">
                        <img src="../../../assets/images/hansIndia_logo.jpg" alt="">
                    </a>
                    <span>04 Nov 2016</span>
                    <a href="#" class="n-arti">
                        <b>The Hans India</b>
                        ", Hyderabad : "
                        <strong>‘SUGARMATHS™’ is Best Tech Startup.</strong>
                    </a>
                    <hr>
                </div>

                <div class="news-wrap">
                    <a href="#" class="n-logo">
                        <img src="../../../assets/images/sakshi_logo-sm.jpg" alt="">
                    </a>
                    <span>04 Nov 2016</span>
                    <a href="#" class="n-arti">
                        <b>SAKSHI</b>
                        ", Hyderabad : "
                        <strong>‘SUGARMATHS™’ is Best Tech Startup.</strong>
                    </a>
                    <hr>
                </div>

                <div class="news-wrap">
                    <a href="#" class="n-logo">
                        <img src="../../../assets/images/andhrajyothi_mlogo.jpg" alt="">
                    </a>
                    <span>04 Nov 2016</span>
                    <a href="#" class="n-arti">
                        <b>Andhra Jyothi</b>
                        ", Hyderabad : "
                        <strong>‘SUGARMATHS™’ is Best Tech Startup.</strong>
                    </a>
                    <hr>
                </div>

                <div class="news-wrap">
                    <a href="#" class="n-logo">
                        <img src="../../../assets/images/andhra_prabha_mlogo.jpg" alt="">
                    </a>
                    <span>04 Nov 2016</span>
                    <a href="#" class="n-arti">
                        <b>Andhra Prabha</b>
                        ", Hyderabad : "
                        <strong>‘SUGARMATHS™’ is Best Tech Startup.</strong>
                    </a>
                    <hr>
                </div>
            </div>

            <div class="media-sprite-head bp-34">
                Online:
            </div>

            <div class="container">
                <div class="online-wrap">
                    <a href="#" class="n-logo">
                        <img src="../../../assets/images/loksatta_logo.jpg" alt="">
                    </a>
                    <span>16 Nov 2016</span>
                    <a href="#" class="n-arti">
                        <strong>SUGARMATHS™ given best tech start-up award at ISB</strong><br>
                        SUGARMATHS™, a learning solutions start-up, has been adjudged the ‘Best Technology Startup’<br>at the seventh edition of the TiE-ISB Connect 2016, held here.
                    </a>
                    <hr>
                </div>
                <div class="online-wrap">
                    <a href="#" class="n-logo">
                        <img src="../../../assets/images/thehinduBusinessline.jpg" alt="">
                    </a>
                    <span>4 Nov 2016</span>
                    <a href="#" class="n-arti">
                        <strong>SUGARMATHS™ given best tech start-up award at ISB</strong><br>
                        SUGARMATHS™, a learning solutions start-up, has been adjudged the ‘Best Technology Startup’<br>at the seventh edition of the TiE-ISB Connect 2016, held here.
                    </a>
                    <hr>
                </div>
                <div class="online-wrap">
                    <a href="#" class="n-logo">
                        <img src="../../../assets/images/hansIndia_logo.jpg" alt="">
                    </a>
                    <span>4 Nov 2016</span>
                    <a href="#" class="n-arti">
                        <strong>SUGARMATHS™ is Best tech Startup</strong><br>
                        City-based ‘SUGARMATHS™’ has been adjudged as the ‘Best Technology Startup’ at the recently concluded ‘TiE-ISB Connect 2016’.
                    </a>
                    <hr>
                </div>
                <div class="online-wrap">
                    <a href="#" class="n-logo">
                        <img src="../../../assets/images/businessInsider_logo.jpg" alt="">
                    </a>
                    <span>4 Nov 2016</span>
                    <a href="#" class="n-arti">
                        <strong>SUGARMATHS™ given best tech start-up award at ISB</strong><br>
                        SUGARMATHS™, a learning solutions start-up, has been adjudged the ‘Best Technology Startup’<br>at the seventh edition of the TiE-ISB Connect 2016, held here.
                    </a>
                    <hr>
                </div>
                <div class="online-wrap">
                    <a href="#" class="n-logo">
                        <img src="../../../assets/images/huntNews_logo.jpg" alt="">
                    </a>
                    <span>4 Nov 2016</span>
                    <a href="#" class="n-arti">
                        <strong>SUGARMATHS™ is Best tech Startup</strong><br>
                        City-based ‘SUGARMATHS™’ has been adjudged as the ‘Best Technology Startup’ at the recently concluded ‘TiE-ISB Connect 2016’.
                    </a>
                    <hr>
                </div>
                <div class="online-wrap">
                    <a href="#" class="n-logo">
                        <img src="../../../assets/images/uninews_logo.jpg" alt="">
                    </a>
                    <span>3 Nov 2016</span>
                    <a href="#" class="n-arti">
                        <strong>SUGARMATHS™ declared as Best Tech Startup</strong><br>
                        SUGARMATHS™, a Hyderabad based Startup, announced that it has been adjudged as the Best Technology Startup at the TiE-ISB Connect 2016 held here recently.
                    </a>
                    <hr>
                </div>
                <div class="online-wrap">
                    <a href="#" class="n-logo">
                        <img src="../../../assets/images/rediffnews_logo.jpg" alt="">
                    </a>
                    <span>3 Nov 2016</span>
                    <a href="#" class="n-arti">
                        <strong>SUGARMATHS™ declared as Best Tech Startup</strong><br>
                        SUGARMATHS™, a Hyderabad based Startup, announced that it has been adjudged as the Best Technology Startup at the TiE-ISB Connect 2016 held here recently. Commenting on receiving the award Mr. Neeraj Jewalkar, Founder of SUGARMATHS™ said, We have developed a proprietary methodology called Variable Keystone Active Space Technique (vKast) to improve learning.
                    </a>
                    <hr>
                </div>
                <div class="online-wrap">
                    <a href="#" class="n-logo">
                        <img src="../../../assets/images/netIndia123_logo.jpg" alt="">
                    </a>
                    <span>3 Nov 2016</span>
                    <a href="#" class="n-arti">
                        <strong>SUGARMATHS™ declared as Best Tech Startup</strong><br>
                        SUGARMATHS™, a Hyderabad based Startup, announced that it has been adjudged as the Best Technology Startup at the TiE-ISB Connect 2016 held here recently. Commenting on receiving the award Mr. Neeraj Jewalkar, Founder of SUGARMATHS™ said, We have developed a proprietary methodology called Variable Keystone Active Space Technique (vKast) to improve learning. vKast is the synthesis of the latest developments in how various regions of the brain function to help learning and memorization.
                    </a>
                    <hr>
                </div>

            </div>


            <div class="media-sprite-head bp-68">
                Telivision:
            </div>

            <div class="container">
                <div class="tv-wrap">
                    <h3>
                        <img src="../../../assets/images/etv_logo.png" alt="">
                        SUGARMATHS™ Featured on ETV Telugu
                    </h3>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/1txmTQuuccQ?rel=0&autoplay=0" frameborder="0"></iframe>
                </div>
            </div>
            <div class="container">
                <div class="tv-wrap">
                    <h3>
                        <img src="../../../assets/images/T_News_logo.png" alt="">
                        SUGARMATHS™ Featured on T News
                    </h3>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/5aoiXSwfHaE?rel=0&autoplay=0" frameborder="0"></iframe>
                </div>
            </div>
            <div class="container">
                <div class="tv-wrap">
                    <h3>
                        <img src="../../../assets/images/sakshitv_logo.png" alt="">
                        SUGARMATHS™ Featured on Sakshi News
                    </h3>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/rqeG40NHAIc?rel=0&autoplay=0" frameborder="0"></iframe>
                </div>
            </div>

        </div>
    </div>

    
</div>