<div class="gifts-content">
    <div class="gifts-header">
        Fantasy Gifts
    </div>
    <div class="gifts-sub-header">
        Recent gifts purchased by Members for their Loved ones!
    </div>
    <div class="gifts-div">
        
        <div class="row fg-row-eq-height pb-4">
            <div class="col-md-6 col-sm-12 fg-col-pad f-g-box">
                <div class="f-g-box-head" style="background-color: #659CD5;">
                    <div class="row f-g-details">
                        <div class="col-md-4 col-sm-12 f-g-img">
                            <img src="https://sugarmaths.in/sugarmaths/store/indian_flag.png" alt="">
                        </div>
                        <div class="col-md-8 col-sm-12 f-g-info">
                            <div>Indian Flag</div>
                            <hr class="hr-w">
                            <p>Price:</p>
                            <h2>1000</h2>
                            <h5>Gold Bars</h5>
                        </div>
                    </div>
                </div>
                <div class="f-g-box-details">
                    <div class="f-g-user-info">
                        <div class="f-g-for">For: Myself</div>
                        <hr>
                        <h4>INDHUSHREE</h4>
                        <h5>Sudarshan Vidya Mandir</h5>
                        <p>Bengaluru, Karnataka</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 fg-col-pad f-g-box">
                <div class="f-g-box-head" style="background-color: #F12E70;">
                    <div class="row f-g-details">
                        <div class="col-md-4 col-sm-12 f-g-img">
                            <img src="https://sugarmaths.in/sugarmaths/store/hat.png" alt="">
                        </div>
                        <div class="col-md-8 col-sm-12 f-g-info">
                            <div>Hat</div>
                            <hr class="hr-w">
                            <p>Price:</p>
                            <h2>3000</h2>
                            <h5>Gold Bars</h5>
                        </div>
                    </div>
                </div>
                <div class="f-g-box-details">
                    <div class="f-g-user-info">
                        <div class="f-g-for">For: My Brother</div>
                        <hr>
                        <h4>DEEPU</h4>
                        <h5>St. Joseph's Convent School</h5>
                        <p>Rajahmundry, Andhra Pradesh</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row fg-row-eq-height pb-4">
            <div class="col-md-6 col-sm-12 fg-col-pad f-g-box">
                <div class="f-g-box-head" style="background-color: #1BBC9B;">
                    <div class="row f-g-details">
                        <div class="col-md-4 col-sm-12 f-g-img">
                            <img src="https://sugarmaths.in/sugarmaths/store/diamond_necklace.png" alt="">
                        </div>
                        <div class="col-md-8 col-sm-12 f-g-info">
                            <div>Diamond Necklace</div>
                            <hr class="hr-w">
                            <p>Price:</p>
                            <h2>200000</h2>
                            <h5>Gold Bars</h5>
                        </div>
                    </div>
                </div>
                <div class="f-g-box-details">
                    <div class="f-g-user-info">
                        <div class="f-g-for">For : My Mother</div>
                        <hr>
                        <h4>HASINI</h4>
                        <h5>Pragathi Central School</h5>
                        <p>Hyderabad, Telangana</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 fg-col-pad f-g-box">
                <div class="f-g-box-head" style="background-color: #B49AE3;">
                    <div class="row f-g-details">
                        <div class="col-md-4 col-sm-12 f-g-img">
                            <img src="https://sugarmaths.in/sugarmaths/store/skates.png" alt="">
                        </div>
                        <div class="col-md-8 col-sm-12 f-g-info">
                            <div>Skates</div>
                            <hr class="hr-w">
                            <p>Price:</p>
                            <h2>10000</h2>
                            <h5>Gold Bars</h5>
                        </div>
                    </div>
                </div>
                <div class="f-g-box-details">
                    <div class="f-g-user-info">
                        <div class="f-g-for">For: My Sister</div>
                        <hr>
                        <h4>HIMANSHU SHEKHAR PANDEY</h4>
                        <h5>Kendriya Vidyalaya</h5>
                        <p>Varanasi, Uttar Pradesh</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>